$recipe-name-color: #1b7b34;
$heading-color: #f24c4e;
$navbar-color: #eab126;
$navbar-hover-color: #ffbf23;
$light-grey: #eee;
$dark-grey: #555;

html {
	background-color: $light-grey;
}

body {
  padding-top: 52px;
}

.center-column {
	background-color: #fff;
}

// Common style for all the orange elements on the page
// e.g. navbar and buttons
.shadow-element {
	color: #fff;
	background-color: $navbar-color;
	box-shadow: 2px 2px 3px #888888;
}

// Common style for collapsing headers
// e.g. mobile ingredients and instructions
.collapse-header {
	padding: 8px;
	border: 1px solid $light-grey;
	// symbol for non-collapsed header
	.toggle:after {
		font-family: 'Glyphicons Halflings';
		content: "\e114";
		float: right;
		color: $dark-grey;
	}
	&.collapsed .toggle:after {
		// symbol for collapsed header
		content: "\e113";
	}
}

.navbar {
	a {
		color: #fff;

		&:hover, &:focus, &:active {
			background-color: $navbar-hover-color !important;
		}
	}

	.icon-bar {
		background-color: #fff;
	}

	// Expanding search input
	.form-group.desktop-search {
		margin-top: 10px;
		margin-bottom: 0;
		width: 34px;
		height: 28px;
		background-color: #fff;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
		border-radius: 20px;
		border: 1px solid #ccc;
		transition: all 0.35s, border-radius 0s;

		&:hover {
			width: 250px;
		}
		input {
			padding-right: 20px;
			height: 28px;
			border: 0 none;
			background: transparent;
			box-shadow: none;
		}
		span.glyphicon-search {
			position: absolute;
			right: 10px;
			top: 17px;
			color: $dark-grey;
		}
	}

	// Mobile version for search
	.input-group.mobile-search {
		input {
			border-radius: 0;
		}
		button {
			border-radius: 0;
		}
	}
}

.thumbnail {
	.caption {
		h1 {
			font-size: 1.0em;
			margin: 5px;
		}
		h5 {
			font-size: 0.7em;
			margin-top: 0.1em;
			color: #777;
		}
	}

	&:hover {
		border-color: red;
	}

	&.right-caption {
		float: left;

		> img {
			float: left;
			margin-right: 9px;
		}

		> .caption {
			padding: 4px;
		}

	}
}

.recipe-page {
	h2 {
		color: $recipe-name-color;

		span {
			float: right;
			color: $heading-color;
		}
	}
	h4 {
		color: $heading-color;
	}
	img {
		width: 100%;
	}
	.time {
		margin-top: 10px;
		margin-bottom: 15px;

		p {
			display: inline-block;
		}
		form {
			display: inline-block;
			margin-left: 20px;

			input {
				width: 36px;
			}
		}
		button {
			float: right;

			&:hover {
				background-color: $navbar-hover-color;
				color: #fff;
			}
		}
	}
	.instructions {
		p {
			margin: 0;
		}
		ul, ol {
			padding-left: 20px;
		}
	}
}

.vote-star {
	font-size: 1.5em;
	color: #EAB126;
}

.favo-icon {
	color: red;
	font-size: 2.5em;
}

