$recipe-name-color: #1b7b34;
$heading-color: #f24c4e;
$navbar-color: #eab126;
$navbar-hover-color: #ffbf23;
$light-grey: #eee;
$dark-grey: #555;

html {
	background-color: $light-grey;
}

body {
  padding-top: 52px;
}

.center-column {
	background-color: #fff;
}

// Common style for all the orange elements on the page
// e.g. navbar and buttons
.shadow-element {
	color: #fff;
	background-color: $navbar-color;
	box-shadow: 2px 2px 3px #888888;
}

// Common style for collapsing headers
// e.g. mobile ingredients and instructions
.collapse-header {
	padding: 8px;
	border: 1px solid $light-grey;
	cursor: pointer;
	// symbol for non-collapsed header
	.toggle:after {
		font-family: 'Glyphicons Halflings';
		content: "\e114";
		float: right;
		color: $dark-grey;
	}
	&.collapsed .toggle:after {
		// symbol for collapsed header
		content: "\e113";
	}
}

// Common styles for headings
h1, h2 {
	color: $recipe-name-color;

	span {
		float: right;
		color: $heading-color;
		cursor: pointer;
	}
}
h4 {
	color: $heading-color;
}

// Common styles for add buttons
button.add-btn {
	background-color: $navbar-color;
	color: #fff;
	height: 45px;
	width: 45px;
	border-radius: 25px;
	font-size: 18px;
	margin-left: 10px;

	&:hover {
		background-color: $navbar-hover-color;
		color: #fff;
	}

	> .glyphicon-plus {
		left: 1px;
		top: 2px;
	}
}

// Styles for navigation bar
.navbar {
	a {
		color: #fff;

		&:hover, &:focus, &:active {
			background-color: $navbar-hover-color !important;
		}
	}

	.icon-bar {
		background-color: #fff;
	}

	// Expanding search input
	.form-group.desktop-search {
		margin-top: 10px;
		margin-bottom: 0;
		width: 34px;
		height: 28px;
		background-color: #fff;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
		border-radius: 20px;
		border: 1px solid #ccc;
		transition: all 0.35s, border-radius 0s;

		&:hover {
			width: 250px;
		}
		input {
			padding-right: 20px;
			height: 28px;
			border: 0 none;
			background: transparent;
			box-shadow: none;
		}
		span.glyphicon-search {
			position: absolute;
			right: 10px;
			top: 17px;
			color: $dark-grey;
		}
	}

	// Mobile version for search
	.input-group.mobile-search {
		input {
			border-radius: 0;
		}
		button {
			border-radius: 0;
		}
	}
}

// Styles for feed items
.thumbnail {
	.caption {
		h1 {
			font-size: 1.0em;
			margin: 5px;
		}
		h5 {
			font-size: 0.7em;
			margin-top: 0.1em;
			color: #777;
		}
	}

	&:hover {
		border-color: red;
	}

	&.right-caption {
		float: left;
		width: 100%;

		> img {
			float: left;
			margin-right: 9px;
		}

		> .caption {
			padding: 4px;
		}
	}
}

// Styles for recipe page
@media (min-width: 768px) {
	.recipe-page {
		padding: 20px;
	}
}
.recipe-page {
	img {
		width: 100%;
	}
	.instructions {
		p {
			margin: 0;
			display: inline-block;
		}
		ul, ol {
			padding-left: 20px;
		}
	}
	.time {
		margin-top: 10px;
		margin-bottom: 15px;

		p {
			display: inline-block;
		}

		.servings{
			margin-left: 20px;
			display: inline-block;
			form {
				input {
					display: inline-block;
					width: 55px;
				}
				button {
					position: absolute;
					right: 20px;
					top: 0;

					&:hover {
						background-color: $navbar-hover-color;
						color: #fff;
					}
				}
			}
		}
	}
	.rating {
		margin-top: 30px;
	}
}

// Styles for new recipe page
@media (min-width: 768px) {
	.new-recipe-page {
		padding: 20px;
	}
}
.new-recipe-page {
	textarea {
		resize: none;
	}
	h2 input {
		border: none;
	}
	img {
		max-width: 20%;
		display: inline-block;
		+ button {
			margin-left: 30px;
			width: 50px;
			height: 50px;
			color: $dark-grey;
		}
	}
	.time {
		padding-top: 40px;

		input {
			&#hours {
				width: 55px;
			}
			&#minutes {
				width: 55px;
			}
			&#servings {
				width: 55px;
			}
		}
		span.fa-users {
			margin-left: 30px;
		}
	}
	.instructions {
		.form-group {
			&.amount {
				width: 80%;

				> input {
					width: 49.8%;
				}
				> select {
					width: 49%;
				}
			}
			+ .add-btn {
				position: absolute;
				top: 50px;
			}
		}

		select {
			&#ingredient {
				width: 80%;
				margin-top: 5px;
			}
		}
	}
}

.vote-star {
	font-size: 1.5em;
	color: #EAB126;
}

// My ingredients modal
#my-ingredients-modal {
	display: none;
	position: fixed;
	z-index: 2;
	right: 20px;
	top: 20%;
	width: 500px;
	overflow: auto;

	.modal-content {
		padding: 20px;
		border: 1px solid #888;
	}

	#close-modal {
		color: #aaa;
		float: right;
		font-size: 28px;
		font-weight: bold;

		&:hover, &:focus {
			color: #000;
			text-decoration: none;
			cursor: pointer;
		}
	}

	.ingredients-list {
		h4 {
			display: inline-block;
			margin: 5px 0;
		}
		span.ingredient-label:hover {
			cursor: pointer;
			border: 1px solid red;
		}
	}

	.ingredients-form {
		margin-top: 15px;
	}

	.typeahead.dropdown-menu {
		top: 0 !important;
		position: relative;
	}
}

#my-ingredients-button {
	z-index: 1;
	position: fixed;
	top: 30%;
	right: -58px;
	width: 176px;
	height: 60px;
	font-size: 22px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	background-color: $heading-color;
	color: #fff;
}
