$recipe-name-color: #1b7b34;
$heading-color: #f24c4e;
$navbar-color: #eab126;
$navbar-hover-color: #ffbf23;

html {
	background-color: #eee;
}

body {
  padding-top: 52px;
}

.center-column {
	background-color: #fff;
}

// Common style for all the orange elements on the page
// e.g. navbar and buttons
.shadow-element {
	color: #fff;
	background-color: $navbar-color;
	box-shadow: 2px 2px 3px #888888;
}

.navbar {
	a {
		color: #fff;

		&:hover, &:focus, &:active {
			background-color: $navbar-hover-color !important;
		}
	}

	// Expanding search input
	.form-group.desktop-search {
		margin-top: 10px;
		margin-bottom: 0;
		width: 34px;
		height: 28px;
		background-color: #fff;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
		border-radius: 20px;
		border: 1px solid #ccc;
		transition: all 0.35s, border-radius 0s;

		&:hover {
			width: 250px;
		}

		input {
			padding-right: 20px;
			height: 28px;
			border: 0 none;
			background: transparent;
			box-shadow: none;
		}
		span.glyphicon-search {
			position: absolute;
			right: 10px;
			top: 17px;
			color: #555;
		}
	}

	.input-group.mobile-search {
		input {
			border-radius: 0;
		}
		button {
			border-radius: 0;
		}
	}
}

.thumbnail {
	.caption {
		h1 {
			font-size: 1.0em;
		}
	}
}

.recipe-page {
	h2 {
		color: $recipe-name-color;
		span {
			float: right;
			color: $heading-color;
		}
	}
	h4 {
		color: $heading-color;
	}
	img {
		width: 100%;
	}
	.time {
		margin-top: 10px;
		margin-bottom: 15px;
		p {
			display: inline-block;
		}
		form {
			display: inline-block;
			margin-left: 20px;
			input {
				width: 36px;
			}
		}
		button {
			float: right;
			&:hover {
				background-color: $navbar-hover-color;
				color: #fff;
			}
		}
	}
	.instructions {
	    border-top: 1px solid #eee;
		p {
			margin: 0;
		}
		ul, ol {
			padding-left: 20px;
		}
	}
}

.thumbnail.right-caption {
    float: left;

    > img {
        float: left;
        margin-right: 9px;
    }

     > .caption {
        padding: 4px;
    }

}

.vote-star {
	font-size: 1.5em;
	color: #EAB126;
}

.favo-icon {
	color: red;
	font-size: 1.5em;
}
