$recipe-name-color: #1b7b34;
$heading-color: #f73d40;
$heading-hover-color: #fb5a5d;
$navbar-color: #ffb500;
$navbar-hover-color: #ffbf23;
$light-grey: #bbb;
$dark-grey: #555;

html {
	position: relative;
	height: 100%;
}

html:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('../images/food2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
}

body {
	padding-top: 52px;
	height: 100%;
}

.center-column {
	background-color: rgba(255, 255, 255, 0.9);
	height: 100%;
	overflow: auto;
}

// Common style for all the orange elements on the page
// e.g. navbar and buttons
.shadow-element {
	color: #fff;
	background-color: $navbar-color;
	box-shadow: 2px 2px 3px #888888;
}

// Common style for collapsing headers
// e.g. mobile ingredients and instructions
.collapse-header {
	padding: 8px;
	border: 1px solid $light-grey;
	cursor: pointer;
	// symbol for non-collapsed header
	.toggle:after {
		font-family: 'Glyphicons Halflings';
		content: "\e114";
		float: right;
		color: $dark-grey;
	}
	&.collapsed .toggle:after {
		// symbol for collapsed header
		content: "\e113";
	}
}

// Common styles for headings
h1, h2 {
	color: $recipe-name-color;
	margin-left: 15px;

	span {
		margin-left: 20px;
		color: $heading-color;
		cursor: pointer;
	}
}
h4 {
	color: $heading-color;
}

hr {
	border-top: 1px solid $light-grey;
}

.alert {
	margin-bottom: 0;
}

// Common styles for add buttons
button.add-btn {
	background-color: $navbar-color;
	color: #fff;
	height: 45px;
	width: 45px;
	border-radius: 25px;
	font-size: 18px;
	margin-left: 10px;

	&:hover, &:focus, &:active {
		background-color: $navbar-hover-color;
		color: #fff;
	}

	> .glyphicon-plus {
		left: 1px;
		top: 2px;
	}
}

// Styles for navigation bar
.navbar {
	a {
		color: #fff;

		&:hover, &:focus, &:active {
			background-color: $navbar-hover-color !important;
		}
	}

	.icon-bar {
		background-color: #fff;
	}

	// Expanding search input
	.form-group.desktop-search {
		margin-top: 10px;
		margin-bottom: 0;
		width: 34px;
		height: 28px;
		background-color: #fff;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
		border-radius: 20px;
		border: 1px solid #ccc;
		transition: all 0.35s, border-radius 0s;

		&.focus {
			width: 250px;
			cursor: pointer;
		}
		input {
			padding-right: 20px;
			height: 28px;
			border: 0 none;
			background: transparent;
			box-shadow: none;
		}
		span.glyphicon-search {
			position: absolute;
			right: 10px;
			top: 17px;
			color: $dark-grey;
		}
	}

	// Mobile version for search
	.input-group.mobile-search {
		input {
			border-radius: 0;
		}
		button {
			border-radius: 0;
		}
	}
}

.feed {
	padding-top: 22px;
}
// Styles for feed items
.thumbnail {
	.caption {
		h1 {
			font-size: 1.0em;
			margin: 5px;
			span {
				float: right;
			}
		}
		h5 {
			font-size: 0.7em;
			margin-top: 0.1em;
			color: #777;
		}
	}

	&:hover {
		border-color: red;
	}

	&.right-caption {
		float: left;
		width: 100%;

		> img {
			float: left;
			margin-right: 9px;
		}

		> .caption {
			padding: 4px;
		}
	}
}

@media (min-width: 768px) {
	.recipe-page {
		padding: 20px;
	}
	.search-results {
		padding: 20px;
	}
}
// Styles for recipe page
.recipe-page {
	img {
		width: 100%;
	}
	h2 {
		// margin-left: 15px;

		.recipe-tools span {
			color: $dark-grey;
		}
	}
	.instructions {
		p {
			margin: 0;
			display: inline-block;
		}
		ul, ol {
			padding-left: 20px;
			li {
				p {
					vertical-align: top;
				}
			}
		}
	}
	.time {
		margin-top: 10px;
		margin-bottom: 15px;

		p {
			display: inline-block;
		}

		.servings{
			margin-left: 20px;
			display: inline-block;
			form {
				input {
					display: inline-block;
					width: 55px;
				}
				button {
					position: absolute;
					right: 20px;
					top: 0;

					&:hover {
						background-color: $navbar-hover-color;
						color: #fff;
					}
				}
			}
		}
	}
	.rating_box {
		margin-top: 30px;
	}
}

// Styles for new recipe page
@media (min-width: 768px) {
	.new-recipe-page {
		padding: 20px;
	}
}
.new-recipe-page {
	textarea {
		resize: none;
	}
	h2 {
		margin-left: 0;

		input {
			border: none;
		}
	}
	img {
		max-width: 20%;
		display: inline-block;
		+ button {
			margin-left: 30px;
			width: 50px;
			height: 50px;
			color: $dark-grey;
		}
	}
	.time {
		padding-top: 40px;

		input {
			&#hours {
				width: 55px;
			}
			&#minutes {
				width: 55px;
			}
			&#servings {
				width: 55px;
			}
		}
		span.fa-users {
			margin-left: 30px;
		}
	}
	.ingredient-container {
		.ingredient-row {
			display: inline;
		}
		.add-btn {
			display: inline;
		}
	}
	.instructions {
		.form-group {
			.amountInput {
				width: 20%;
			}
			&.amount {
				width: 80%;

				> input {
					width: 49.8%;
				}
				> select {
					width: 49%;
				}
			}
			+ .add-btn {
				position: absolute;
				top: 50px;
			}
		}

		select {
			&#ingredient {
				width: 80%;
				margin-top: 5px;
			}
		}
	}
}

.vote-star {
	font-size: 1.5em;
	color: #EAB126;
}

// My ingredients modal
// Mobile
@media only screen and (max-width : 767px) {
	.content {
		width: 100%;
		left: 0;
	}
	.ingredients-list {
		max-height: 500px;
	}
}

// Other devices
@media only screen and (min-width : 768px) {
	.ingredients-list {
		max-height: 500px;
	}
}

// All devices
#my-ingredients-modal {
	display: none;
	z-index: 2;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
	left: 0;

	.content {
		padding: 10px;
	}

	.ingredients-list {
		overflow: auto;
		padding: 0 15px 0 5px;

		span {
			color: #fff;

			&.fa-remove {
				color: $heading-color;
				cursor: pointer;
			}
		}
	}

	.ingredients-form {
		margin-top: 15px;
		.shadow-element {
			&:hover, &:focus, &:active {
				background-color: $navbar-hover-color;
				color: #fff;
			}
		}
		#apply-btn {
			box-shadow: 2px 2px 3px #888888;
			background-color: $heading-color;
			color: #fff;

			&:hover, &:focus, &:active {
				background-color: $heading-hover-color;
				color: #fff;
			}
		}
	}

	.typeahead.dropdown-menu {
		top: 34px !important;
		left: 30px !important;
		position: absolute;
	}
}

// My ingredients button
#my-ingredients-button {
	z-index: 1;
	left: 0;
	width: 100%;
	background-color: $heading-color;
	color: #fff;
	border-radius: 0;

	&:focus {
		outline: none;
	}
}

// Mobile
@media only screen and (max-width : 767px) {
	#my-ingredients-button {
		position: fixed;
		bottom: 0;
		font-size: 20px;
	}
}

// Other devices
@media only screen and (min-width : 768px) {
	div.my-ingredients {
		padding: 0;
	}

	#my-ingredients-button {
		font-size: 24px;
	}
}
