{% extends "base/base.html" %}

{% block content %}
{% if user.is_authenticated %}
	<button class="btn" id=my-ingredients-button>My ingredients</button>
	<div id="my-ingredients-modal">
		<div class="modal-content">
			<span id="close-modal">x</span>
			<!-- Ingredient list -->
			<div class="text-center ">
				<h4>My ingredients</h4>
				<div class="ingredients-list">
					{% for item in my_ingredients %}
						<h4><span class="label label-success ingredient-label">{{ item.name }}</span></h4>
					{% endfor %}
				</div>
			</div>

			<!-- Ingredient form -->
			<form class="ingredients-form" method="post" id="main_form">
				{% csrf_token %}
				<div class="form-group">
					<div class="col-sm-6 col-xs-8">
						<input type="text" name="ingredient" class="form-control" id="ingredientInput" placeholder="Search for ingredients..." autocomplete="off">
						<!-- <input type="hidden" name="delete" id="deleteInput"> -->
					</div>
					<button type="submit" class="btn btn-info">Add</button>
					<button class="btn btn-primary" id="apply-button">Apply</button>
				</div>
			</form>
		</div>
	</div>
{% endif %}

<!-- Feed -->
<div class="row feed">
{% for item in recipes %}
{% include "recipe_card.html" with item=item %}
{% endfor %}
</div>

<script type="text/javascript">
	$(document).ready(function() {
		var all_ingredients = {{all_ingredients|safe}};
		$('#ingredientInput').typeahead({source: all_ingredients });

		$(document).on('submit', '#main_form', function(e) {
			e.preventDefault();
			var ingredient_name = $('#ingredientInput').val();
			// If ingredient is already there do nothing
			if ($('span:contains("' + ingredient_name + '")').length > 0) {
				// Clear input
				$('#ingredientInput').val('');
			} else {
				$.ajax({
					type: "POST",
					url: "{% url 'add_my_ingredient' %}",
					data: {
						csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken').val(),
						ingredient: ingredient_name,
					},
					success: function() {
						// Add element to list
						var list = document.getElementsByClassName('ingredients-list')[0];
						var entry = document.createElement('h4');
						var label = document.createElement('span');
						label.setAttribute('class', 'label label-success ingredient-label');
						label.appendChild(document.createTextNode(ingredient_name));
						entry.appendChild(label);
						list.appendChild(entry);
						// Clear input
						$('#ingredientInput').val('');
					}
				});
			}
		});

		$('.ingredient-label').click(function() {
			var ingredient_name = $(this).text();
			$.ajax({
				type: "POST",
				url: "{% url 'add_my_ingredient' %}",
				data: {
					csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken').val(),
					ingredient: ingredient_name,
					delete: true,
				},
				success: function() {
					$('span:contains("' + ingredient_name + '")').css('display', 'none')
				}
			});
		});

		var modalButton = document.getElementById('my-ingredients-button');
		var modal = document.getElementById('my-ingredients-modal');
		var closeButton = document.getElementById('close-modal');

		function CloseModal() {
			modal.style.display = 'none';
			location.reload();
		}

		$('#my-ingredients-button').click(function() {
			modal.style.display = 'block';
		});

		$('#close-modal').click(function() {
			CloseModal();
		});

		$('#apply-button').click(function() {
			CloseModal();
		});

		window.onclick = function(event) {
			if (event.target == modal) {
				CloseModal();
			}
		};
	});
</script>
{% endblock %}