{% extends "base/base.html" %}

{% block content %}
<!-- Ingredient list -->
<div class="text-center ">
	<h4>My ingredients</h4>
	<div class="ingredients-list">
		{% for item in ingredients %}
			<h4><span class="label label-success">{{ item }}</span></h4>
		{% endfor %}
	</div>
</div>

<!-- Ingredient form -->
<form class="ingredients-form" method="post">
	{% csrf_token %}
	<div class="form-group">
		<div class="col-sm-6 col-sm-offset-3 col-xs-10">
			<input type="text" name="ingredient" class="form-control" id="ingredientInput" placeholder="Search for ingredients...">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>

<!-- Feed -->
<div class="row">
{% for item in recipes %}
{% include "recipe_card.html" with item=item %}
{% endfor %}
</div>

<script type="text/javascript">
var all_ingredients = {{all_ingredients|safe}};
$('#ingredientInput').typeahead({source: all_ingredients });


</script>
{% endblock %}