{% extends "base/base.html" %}

{% block content %}
<h1 class="logo text-center">Cookit</h1>

<div class="col-md-10 col-md-offset-1 main-content">
<p>Cookit is a social community for food lovers. It tells you what 
    you can cook from the ingredients you have. You just need 
    to update your own ingredients when you buy something new. When 
    you prepaire a meal just scale the recipe servings and press 
    Cookit: our service will know what you used and substract the 
    ingredients from your stash automatically.</p>

<p>In Cookit you can also create your own recipes, share recipes to 
    Facebook, follow other users, mark favourite recipes and keep track of
    what you've been eating. If you're still not sure if you want to join, just take a look at 
    some tasty recipes created by our users below!</p>
</div>

<!-- Example recipes -->
<div class="feed">
{% if not recipes %}
<div class="alert alert-info">{{ message }}</div>
{% endif %}
{% for item in recipes %}
{% include "recipe_card.html" with item=item %}
{% endfor %}
</div>

{% endblock %}