{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="new-recipe-page">
	<form class="form-inline" id="new-recipe" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-6">
				<h2><input type="text" name="title" placeholder="Enter title..." value="{{ recipe.title }}"></h2>
			</div>
		</div>
		<div class="row">
			<script> var removedImages = []; var imageCount = 0; </script>
			{% for recipeimage in images %}
				<div id="recipeImage{{ recipeimage.id }}">
					<img src="{{ MEDIA_ROOT }}{{ recipeimage.image.url }}" alt="Image"/>
					<button class="removeImageButton" id="removeImageButton{{ recipeimage.id }}"><span class="glyphicon glyphicon-plus"></span></button>
					<script>
						imageCount++;
						$( "#removeImageButton{{ recipeimage.id }}" ).click(function() {
							removedImages.push("{{ recipeimage.id }}");
							$( "#recipeImage{{ recipeimage.id }}" ).remove();
							$( this ).remove();
							$( "#upload" ).show();
						});
					</script>
				</div>
			{% endfor %}
			<div>
				<p id="imageInfo">You may add up to <b id="imageCount"></b> more images for this recipe.</p>
				<div id="upload" class="dropzone">
					<div class="dz-default dz-message"></div>
				</div>
			</div>
		</div>
		<div class="time row">
			<div class="col-md-5">
				<div class="form-group">
					<span class="glyphicon glyphicon-time"></span>
					<input class="form-control" type="number" id="hours" name="hours" min="0" value="{{ time.hours }}">
					<label class="form-label" for="hours" >h</label>
					<input class="form-control" type="number" id="minutes" name="minutes" min="0" max="59" value="{{ time.minutes }}">
					<label class="form-label" for="minutes">min</label>
				</div>
				<div class="form-group">
					<span class="fa fa-users"></span>
					<input class="form-control" type="number" id="servings" name="servings" min="1" value="{{ recipe.servings }}">
					<label class="form-label" for="servings">servings</label>
				</div>
			</div>
			<div class="col-md-7">
				<textarea class="form-control" id="description" rows="3" cols="50" name="description" placeholder="A short, optional description of your recipe..." form="new-recipe">{{ recipe.description }}</textarea>
			</div>
		</div>
		<hr class="hidden-xs">
		<div class="row instructions">
			<div class="col-md-5">
				<!-- Non-collapsing ingredient list for desktop -->
				<!--<div class="hidden-xs">-->
				<h4>Ingredients</h4>
				<div class="ingredient-container">
					{% for ingredient in ingredients %}
						<div class="ingredient-row">
							<input type="text" class="form-control ingredientInput" placeholder="Search for ingredients..." autocomplete="off" value="{{ ingredient.ingredient.name }}">
							<input type="number" class="form-control amountInput" placeholder="Amount..." autocomplete="off" value="{{ ingredient.amount }}">
							<span class="amount_unit">{{ ingredient.ingredient.unit }}</span>
							<span class="fa fa-remove fa-lg"></span>
						</div>
					{% endfor %}
					<div class="form-group">
						<div class="ingredient-row">
							<input type="text" class="form-control ingredientInput" placeholder="Search for ingredients..." autocomplete="off">
							<input type="number" class="form-control amountInput" placeholder="Amount..." autocomplete="off">
							<span class="amount_unit"></span>
						</div>
						<button class="btn add-btn" id="addIngredientButton"><span class="glyphicon glyphicon-plus"></span></button>
					</div>
				</div>
				<!-- Collapsing ingredient list for mobile -->
				{% comment %}
				<div class="visible-xs">
					<h4 class="collapse-header" data-toggle="collapse" href="#ingredients">Ingredients<span class="toggle"></span></h4>
					<ul id="ingredients" class="collapse in">
						{% for ingredient in ingredients %}
						<li><p>{{ ingredient.amount }} {{ ingredient.name }}</p></li>
						{% endfor %}
					</ul>
				</div>
				{% endcomment %}
			</div>
			<div class="col-md-7">
				<!-- Non-collapsing instruction list for desktop -->
				<!--<div class="hidden-xs step-container">-->
				<div class="step-container">
					<h4>Instructions</h4>
					{% for step in steps %}
						<textarea class="form-control step-text" rows="3" cols="50" placeholder="Add step...">{{ step }}</textarea>
					{% endfor %}
					<div class="form-group">
						<textarea class="form-control step-text" rows="3" cols="50" placeholder="Add step..."></textarea>
						<button class="btn add-btn" id="addStepButton"><span class="glyphicon glyphicon-plus"></span></button>
					</div>
				</div>
				<!-- Collapsing instruction list for mobile -->
				{% comment %}
				<div class="visible-xs">
					<h4 class="collapse-header collapsed" data-toggle="collapse" href="#instructions">Instructions<span class="toggle"></span></h4>
					<div class="form-group">
						<textarea class="form-control" rows="3" cols="50" name="instruction" placeholder="Add step..."></textarea>
						<button class="btn add-btn"><span class="glyphicon glyphicon-plus"></span></button>
					</div>
				</div>
				{% endcomment %}

			</div>
		</div>
		<input type="hidden" name="steps" id="input-steps">
		<input type="hidden" name="ingredients" id="input-ingredients">
		<button id="save" class="btn btn-primary">Save</button>
		<button id="saveClose" class="btn btn-primary">Save and close</button>
		<button id="cancel" class="btn btn-default">Cancel</button>
	</form>
</div>

<script type="text/javascript">
	var dropzone;
	$(document).ready(function(){
		// Show alert for saved recipe if saved = true
		var saved = "{{ saved }}";
		if (saved == true) {
			show_notification("This recipe was saved succesfully!");
		}

		var imageCount = $('.removeImageButton').length;
		var maxNewImageCount = 5 - imageCount;
		$("#imageCount").text(maxNewImageCount);
		if (imageCount > 4) {
			$( "#upload" ).hide();
			$( "#imageInfo" ).hide();
		}
		// Init dropzone
		Dropzone.autoDiscover = false;

		$("#upload").dropzone({
			autoProcessQueue: false,
			url: "/",
			acceptedFiles: "image/*",
			maxFiles: maxNewImageCount,
			maxFilesize: 4,
			paramName: "image",
			uploadMultiple: true,
			addRemoveLinks: true,
			init: function() {
				dropzone = this;
				this.on("addedfile", function() {
					if (this.files[this.options.maxFiles] != null ){
						this.removeFile(this.files[this.options.maxFiles]);
					}
				});
			},
			accept: function(file, done) {
					imageCount += 1;
					maxNewImageCount -= 1;
					$("#imageCount").text(maxNewImageCount);
					if (maxNewImageCount == 0)
					{
						$("#imageInfo").hide();
					}
					done();
			},
			success: function (file, response) {
			},
			error: function (file, response) {
				file.previewElement.classList.add("dz-error");
			}
		});
		dropzone.on("removedfile", function(file) {
			imageCount -= 1;
			maxNewImageCount += 1;
			$("#imageCount").text(maxNewImageCount);
			$("#imageInfo").show();
		});

		$( ".removeImageButton" ).on( "click", function() {
			imageCount -= 1;
			maxNewImageCount += 1;
			dropzone.options.maxFiles = maxNewImageCount;
			$("#imageCount").text(maxNewImageCount);
			$("#imageInfo").show();
		});

		var all_ingredients = {{all_ingredients|safe}};

		$('.step-container').on('click', '#addStepButton', function(evt) {
			evt.preventDefault();
			$(this).remove();
			var newItem = '<div class="form-group"><textarea class="form-control step-text" rows="3" cols="50" placeholder="Add step..."></textarea><button class="btn add-btn" id="addStepButton"><span class="glyphicon glyphicon-plus"></span></button></div>';
			$('.step-container').append(newItem);
		});

		$('.ingredient-container').on('click', '#addIngredientButton', function(evt) {
			evt.preventDefault();
			// Add remove button for this row
			$(this).prev().append($('<span class="fa fa-remove fa-lg"></span>'));

			// Create a new ingredient row
			var newContainer = $('<div>', {"class": "ingredient-row"});

			var nameInput = $('<input type="text" class="form-control ingredientInput" placeholder="Search for ingredients..." autocomplete="off">');
			$(newContainer).append(nameInput);
			$(nameInput).typeahead({source: all_ingredients});

			var amountInput = $('<input type="number" class="form-control amountInput" placeholder="Amount..." autocomplete="off">');
			$(newContainer).append(amountInput);
			var unit = $('<span class="amount_unit"></span>');
			$(newContainer).append(unit);

			$('#addIngredientButton').before(newContainer);
		});

		function show_notification(message) {
			$.notify({message: message}, {delay: 2000});
		}

		function submitRecipe(type) {
			var buttonText = $(this).find("button[type=submit]:focus").text();
			var steps = [];
			var ingredients = [];
			$('.step-text').each(function(idx) {
				var value = $(this).val();
				if(value != '') {
					steps.push(value);
				}
			});

			$('.ingredientInput').each(function(idx) {
				var name = $(this).val();
				if(name != '') {
					var item = []
					var amount = $('.amountInput').eq(idx).val();
					if(amount=='') {
						amount = "1";
					}
					item.push(name);
					item.push(amount);
					ingredients.push(item);
				}
			});
			$('#input-steps').val(JSON.stringify(steps));
			$('#input-ingredients').val(JSON.stringify(ingredients));

			//Serialize form data
			var data = new FormData( $('#new-recipe').get(0) );

			//Append new images to form data
			var images = dropzone.getQueuedFiles();
			for(i = 0; i < images.length; i++)
			{
				data.append('image', images[i]);
			}
			// Append removed images (their recipeimage id) to form data
			for(i = 0; i < removedImages.length; i++)
			{
				data.append('removeimage', removedImages[i]);
				//alert("Removed image");
			}

			var recipeId = "{{ recipe.id }}";
			// If recipeId is undefined, the recipe has not been created -> create
			if (!recipeId) {
				$.ajax({
					type: "POST",
					url: "{% url 'new_recipe' %}",
					data: data,
					processData: false,
					contentType: false,
					success: function(data) {
						if (type == "exit") {
							var url = "{% url 'recipe' 0 %}".replace('0', data.id);
							window.location.href = url + "?saved=1";
						} else {
							var url = "{% url 'edit_recipe' 0 %}".replace('0', data.id);
							window.location.href = url + "?saved=1";
						}
					}
				});
			}
			// Else the recipe will be edited
			else {
				$.ajax({
					type: "POST",
					url: "{% url 'edit_recipe' recipe.id %}",
					data: data,
					processData: false,
					contentType: false,
					success: function() {
						if (type == "exit") {
							var url = "{% url 'recipe' recipe.id %}";
							window.location.href = url + "?saved=1";
						} else {
							var url = "{% url 'edit_recipe' recipe.id %}"
							window.location.href = url + "?saved=1";
						}
					}
				});
			}
		};

		$(document).on("click", "#save", function(e) {
			e.preventDefault();
			submitRecipe("save");
		});

		$(document).on("click", "#saveClose", function(e) {
			e.preventDefault();
			submitRecipe("exit");
		});

		$(document).on("click", "#cancel", function(e) {
			e.preventDefault();
			window.location = "{% url 'recipe' recipe.id %}";
		});



		$('.ingredientInput').typeahead({source: all_ingredients });

		// Update ingredient unit after input changes
		$('.ingredient-container').on('change input propertychange paste', '.ingredientInput', function() {
			var $unit = $(this).nextAll('.amount_unit:first');
			console.log($unit)
			var name = $(this).val();
			var result = $.grep(all_ingredients, function(item){
				return item.name == name;
			});

			// Remove console output when all clean.
			if (result.length == 0) {
				console.log("Not found");
				$unit.empty();
			} else if (result.length == 1) {
				var unit = result[0].unit;
				$unit.text(unit);

			} else {
				console.log("Multiple matches");
				$unit.empty();
			}
		})

		// Remove ingredient
		$(document).on("click", ".fa-remove", function() {
			$(this)[0].parentElement.remove();
		})
	});

</script>

{% endblock %}