{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="new-recipe-page">
	<form class="form-inline" id="new-recipe" method="post">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-6">
				<h2><input type="text" name="title" placeholder="Enter title..."></input></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<img src="{% static 'images/chickensoup.jpg' %}" class="img-thumbnail">
				<button class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
			</div>
		</div>
		<div class="time row">
			<div class="col-md-5">
				<div class="form-group">
					<span class="glyphicon glyphicon-time"></span>
					<input class="form-control" type="number" id="hours" name="hours" min="0">
					<label class="form-label" for="hours">h</label>
					<input class="form-control" type="number" id="minutes" name="minutes" min="0" max="59">
					<label class="form-label" for="minutes">min</label>
				</div>
				<div class="form-group">
					<span class="fa fa-users"></span>
					<input class="form-control" type="number" id="servings" name="servings" min="1">
					<label class="form-label" for="servings">servings</label>
				</div>
			</div>
			<div class="col-md-7">
				<textarea class="form-control" id="description" rows="3" cols="50" name="description" placeholder="A short, optional description of your recipe..." form="new-recipe"></textarea>
			</div>
		</div>
		<hr class="hidden-xs">
		<div class="row instructions">
			<div class="col-md-5">
				<!-- Non-collapsing ingredient list for desktop -->
				<!--<div class="hidden-xs">-->
				<div class="ingredient-container form-group">
					<h4>Ingredients</h4>
					<input type="text" class="form-control ingredientInput" placeholder="Search for ingredients..." autocomplete="off">
					<input type="number" class="form-control amountInput" placeholder="Amount..." autocomplete="off">
					<span class="amount_unit"></span>
					<button class="btn add-btn" id="addIngredientButton"><span class="glyphicon glyphicon-plus"></span></button>

				</div>
				<!-- Collapsing ingredient list for mobile -->
				{% comment %}
				<div class="visible-xs">
					<h4 class="collapse-header" data-toggle="collapse" href="#ingredients">Ingredients<span class="toggle"></span></h4>
					<ul id="ingredients" class="collapse in">
						{% for ingredient in ingredients %}
						<li><p>{{ ingredient.amount }} {{ ingredient.name }}</p></li>
						{% endfor %}
					</ul>
				</div>
				{% endcomment %}
			</div>
			<div class="col-md-7">
				<!-- Non-collapsing instruction list for desktop -->
				<!--<div class="hidden-xs step-container">-->
				<div class="step-container">
					<h4>Instructions</h4>
					<div class="form-group">
						<textarea class="form-control step-text" rows="3" cols="50" placeholder="Add step..."></textarea>
						<button class="btn add-btn" id="addStepButton"><span class="glyphicon glyphicon-plus"></span></button>
					</div>
				</div>
				<!-- Collapsing instruction list for mobile -->
				{% comment %}
				<div class="visible-xs">
					<h4 class="collapse-header collapsed" data-toggle="collapse" href="#instructions">Instructions<span class="toggle"></span></h4>
					<div class="form-group">
						<textarea class="form-control" rows="3" cols="50" name="instruction" placeholder="Add step..."></textarea>
						<button class="btn add-btn"><span class="glyphicon glyphicon-plus"></span></button>
					</div>
				</div>
				{% endcomment %}

			</div>
		</div>
		<input type="hidden" name="steps" id="input-steps">
		<input type="hidden" name="ingredients" id="input-ingredients">
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

<script type="text/javascript">
	var all_ingredients = {{all_ingredients|safe}};

	$('.step-container').on('click', '#addStepButton', function(evt) {
		evt.preventDefault();
		$(this).remove();
		var newItem = '<div class="form-group"><textarea class="form-control step-text" rows="3" cols="50" placeholder="Add step..."></textarea><button class="btn add-btn" id="addStepButton"><span class="glyphicon glyphicon-plus"></span></button></div>';
		$('.step-container').append(newItem);
	});

	$('.ingredient-container').on('click', '#addIngredientButton', function(evt) {
		evt.preventDefault();
		var newItem = '<input type="text" class="form-control ingredientInput" placeholder="Search for ingredients..." autocomplete="off">';
		$('#addIngredientButton').before(newItem);
		$('.ingredientInput').typeahead({source: all_ingredients});

		newItem = '<input type="number" class="form-control amountInput" placeholder="Amount..." autocomplete="off">';
		$('#addIngredientButton').before(newItem);
		newItem = '<span class="amount_unit"></span>'
		$('#addIngredientButton').before(newItem);
	});

	$('#new-recipe').submit(function() {
		var steps = [];
		var ingredients = [];
		$('.step-text').each(function(idx) {
			var value = $(this).val();
			if(value != '') {
				steps.push(value);
			}
		});

		$('.ingredientInput').each(function(idx) {
			var name = $(this).val();
			if(name != '') {
				var item = []
				var amount = $('.amountInput').eq(idx).val();
				if(amount=='') {
					amount = "1";
				}
				item.push(name);
				item.push(amount);
				ingredients.push(item);
			}
		});
		$('#input-steps').val(JSON.stringify(steps));
		$('#input-ingredients').val(JSON.stringify(ingredients));
	});

	$('.ingredientInput').typeahead({source: all_ingredients });

	// Update ingredient unit after input changes
	$('.ingredient-container').on('change input propertychange paste', '.ingredientInput', function() {
		var $unit = $(this).nextAll('.amount_unit:first');
		console.log($unit)
		var name = $(this).val();
		var result = $.grep(all_ingredients, function(item){ 
			return item.name == name; 
		});

		// Remove console output when all clean. 
		if (result.length == 0) {
			console.log("Not found");
			$unit.empty();
		} else if (result.length == 1) {
		  	var unit = result[0].unit;
		  	$unit.text(unit);

		} else {
		  	console.log("Multiple matches");
			$unit.empty();
		}
	})
</script>

{% endblock %}