{% extends "base/base.html" %}

{% block head %}
    {{ block.super }}
    <meta property="og:url" content="{{ absolute_url }}" />
	<meta property="og:description" content="{{ recipe.description }}" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Cookit: {{ recipe.title }}" />
	<meta property="og:image" content="{{ MEDIA_ROOT }}{{ recipeimage.image.url }}" />
{% endblock %}

{% load static %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>
<div class="recipe-page">
	<div class="row">
		<h2>{{ recipe.title }}
		{% if user.is_authenticated %}
			{% if favourite %}
				<span class="fa fa-heart" id="favourite" data-toggle="tooltip" data-container="body" title="Remove from favourites"></span>
			{% else %}
				<span class="fa fa-heart-o" id="favourite" data-toggle="tooltip" data-container="body" title="Add to favourites"></span>
			{% endif %}
			{% if recipe.creator.user.id == user.id %}
				<div class="recipe-tools pull-right">
					<a href="{% url 'edit_recipe' recipe.id %}"><span class="fa fa-pencil" data-toggle="tooltip" data-container="body" title="Edit recipe"></span></a>
					<span class="fa fa-trash" data-toggle="tooltip" data-container="body" title="Remove recipe"></span>
				</div>
			{% endif %}
		{% endif %}
		</h2>
	</div>
	<div class="row">
		{% if images %}
			<div id="myCarousel" class="carousel slide col-md-6" data-ride="carousel" data-interval="false">
				<!-- Indicators -->
				<ol class="carousel-indicators">
				{% for recipeimage in images %}
					<li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
				{% endfor %}
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
				{% for recipeimage in images %}
					<div class="item{% if forloop.first %} active{% endif %}">
						<img src="{{ MEDIA_ROOT }}{{ recipeimage.image.url }}" alt="Image">
					</div>
				{% endfor %}
				</div>

				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		{% endif %}
		<div class="col-md-6">
			<p><span class="glyphicon glyphicon-user"></span> <a href="{% url 'user' recipe.creator.user.id %}">{{ recipe.creator.user.username }}</a></p>
			<i>{{ recipe.description }}</i>
			<div class="rating_box">
			{%if is_cooked%}
				<label for="user_rating_input" class="control-label">User rating</label>
			{% else %}
				<label for="user_rating_input" class="control-label">Cookit first, then rate!</label>
			{% endif %}
			<input id="user_rating_input">
			<label for="user_rating_input" class="control-label">Avg. rating</label>
			<span class="fa-stack fa-2x">
			  <i class="fa fa-star fa-stack-2x" id="avg-rating-icon"></i>
			  <strong class="fa-stack-1x" id="avg-rating-figure">{{recipe.average_rating|floatformat:0}}</strong>
			</span>
			</div>

			<div class="fb-like" data-href="{{ absolute_url }}" data-layout="button_count"
				data-action="like" data-size="small" data-show-faces="true" data-share="true">
			</div>
		</div>
	</div>
	<div class="row time">
		<div class="col-md-6">
			<p><span class="glyphicon glyphicon-time"></span> {{ time.hours }}h {{ time.minutes }}min</p>
			<div class="servings">
			{% if user.is_authenticated %}
				<form class="form-inline" id="cook_recipe">
					{% csrf_token %}
					<div class="form-group">
						<span class="fa fa-users"></span>
						<input class="form-control" type="number" id="servings" name="servings" min="1" value="{{ recipe.servings }}">
					</div>
						<button class="btn shadow-element" type="submit">COOKIT!</button>
				</form>
			{% else %}
				<p><span class="fa fa-users"></span> {{ recipe.servings }}</p>
			{% endif %}
			</div>
		</div>
	</div>
	<hr class="hidden-xs">
	<div class="row instructions">
		<div class="col-md-4">
			<!-- Non-collapsing ingredient list for desktop -->
			<div class="hidden-xs">
				<h4>Ingredients</h4>
				<ul>
					{% for ingredient in ingredients %}
					<li><p id="amount">{{ ingredient.amount }}</p> <p id="unit">{{ ingredient.ingredient.unit_short }}</p> <p id="name">{{ ingredient.ingredient.name }}</p></li>
					{% endfor %}
				</ul>
			</div>
			<!-- Collapsing ingredient list for mobile -->
			<div class="visible-xs">
				<h4 class="collapse-header" data-toggle="collapse" href="#ingredients">Ingredients<span class="toggle"></span></h4>
				<ul id="ingredients" class="collapse in">
					{% for ingredient in ingredients %}
					<li><p id="amount">{{ ingredient.amount }}</p> <p id="unit">{{ ingredient.ingredient.unit_short }}</p> <p id="name">{{ ingredient.ingredient.name }}</p></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-md-8">
			<!-- Non-collapsing instruction list for desktop -->
			<div class="hidden-xs">
				<h4>Instructions</h4>
				<ol>
					{% for step in instructions %}
					<li><p>{{ step }}</p></li>
					{% endfor %}
				</ol>
			</div>
			<!-- Collapsing instruction list for mobile -->
			<div class="visible-xs">
				<h4 class="collapse-header collapsed" data-toggle="collapse" href="#instructions">Instructions<span class="toggle"></span></h4>
				<ol id="instructions" class="collapse">
					{% for step in instructions %}
					<li><p>{{ step }}</p></li>
					{% endfor %}
				</ol>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		// Show alert for saved recipe if saved = true
		var saved = "{{ saved }}";
		if (saved == true) {
			show_notification("This recipe was saved succesfully!", 'info');
		}

		var original_amounts = [];
		var elements = document.getElementById('ingredients').getElementsByTagName('li');
		for (var i=0; i < elements.length; i++) {
			var amount = elements[i].firstChild;
			original_amounts.push(amount.innerText);
		}

		$(document).on('submit', '#cook_recipe', function(e) {
			e.preventDefault();
			$.ajax({
				type: "POST",
				url: "{% url 'cook_recipe' recipe.id %}",
				data: {
					servings: $('#servings').val(),
					csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
				},
				success: function() {
					show_notification("This recipe was added to your cooking history!", 'info');
				}
			});
		});

		$('#favourite').click(function() {
			$.ajax({
				type: "POST",
				url: "{% url 'add_favourite' recipe.id %}",
				data: {
					csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
				},
				success: function() {
					if ($('#favourite').hasClass('fa-heart-o')) {
						$('#favourite').removeClass('fa-heart-o');
						$('#favourite').addClass('fa-heart');
					} else {
						$('#favourite').removeClass('fa-heart');
						$('#favourite').addClass('fa-heart-o');
					}
				}
			});
		});

		$('#servings').on('input', function() {
			var old_servings = "{{ recipe.servings }}";
			var new_servings = $('#servings').val();
			var elements = document.getElementById('ingredients').getElementsByTagName('li');
			if (new_servings > 0) {
				for (var i=0; i < elements.length; i++) {
					var amount = elements[i].firstChild;
					var old_amount = original_amounts[i];
					amount.innerHTML = (old_amount / old_servings * new_servings).toFixed(2);
				}
			} else {
				$.notify({message: 'Please enter a positive number!'},{delay: 3000, type: 'danger'});
			}
		});

		// Function for getting the csrf token from cookie
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}

		function show_notification(message, type) {
			$.notify({message: message}, {delay: 2000, type: type});
		}

		// Delete recipe
		$('.fa-trash').click(function() {
			$.ajax({
				url: "{% url 'remove_recipe' recipe.id %}",
				type: 'DELETE',
				beforeSend: function(xhr) {
					xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
				},
				success: function(response){
                    window.location = "{% url 'feed' 'own_recipes' %}";
                }
			});
		});

		$('[data-toggle="tooltip"]').tooltip();

		// Initialize rating
		{%if is_cooked%}
		var disable_voting = false;
		{%else%}
		var disable_voting = true;
		{%endif%} 
		$("#user_rating_input").rating({min:0, max:5, step: 1.0, stars: 5, showClear: false, showCaption: false, size: 'sm', disabled: disable_voting});
		var rating = {{user_rating|default_if_none:-1}};
		$('#user_rating_input').rating('update', rating);

		$('#user_rating_input').on('rating.change', function(event, value, caption) {
		    $.ajax({
		      type: "POST",
		      url: '{% url "rate_recipe" %}',
		      data: {'rating': value,
		  			'id': {{recipe.id}}
		  			},
		  	  success: function(data) {
		  	  	if(data.code === 0) {
		  	  		show_notification(data.message, 'info');
		  	  		$("#avg-rating-figure").text(parseFloat(data.rating).toFixed(0));
		  	  	}
		  	  	else {
		  	  		show_notification(data.message, 'danger');
		  	  	}
		  	  }
		  	});
		});

	});
</script>

{% endblock %}