{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="recipe-page">
	<div class="row">
		<div class="alert alert-success hidden" id="cooked" role="alert">This recipe was added to your cooking history!</div>
	</div>
	<div class="row">
		<div class="alert alert-success hidden" id="saved" role="alert">This recipe was saved succesfully!</div>
	</div>
	<div class="row">
		<h2>{{ recipe.title }}
		{% if user.is_authenticated %}
			{% if favourite %}
				<span class="fa fa-heart" id="favourite" data-toggle="tooltip" data-container="body" title="Remove from favourites"></span>
			{% else %}
				<span class="fa fa-heart-o" id="favourite" data-toggle="tooltip" data-container="body" title="Add to favourites"></span>
			{% endif %}
			{% if recipe.creator.user.id == user.id %}
				<div class="recipe-tools pull-right">
					<a href="{% url 'edit_recipe' recipe.id %}"><span class="fa fa-pencil" data-toggle="tooltip" data-container="body" title="Edit recipe"></span></a>
					<span class="fa fa-trash" data-toggle="tooltip" data-container="body" title="Remove recipe"></span>
				</div>
			{% endif %}
		{% endif %}
		</h2>
	</div>
	<div class="row">
		<div class="col-md-6">
			{% for recipeimage in images %}
				<img src="{{ MEDIA_ROOT }}{{ recipeimage.image.url }}" alt="Image"/>
			{% endfor %}
		</div>
		<div class="col-md-6">
			<p><span class="glyphicon glyphicon-user"></span><a href="{% url 'user' recipe.creator.user.id %}">{{ recipe.creator.user.username }}</a></p>
			<i>{{ recipe.description }}</i>
			<div class="rating_box">
			{%comment%}
			{% include "vote_stars.html" with item=recipe %}
			{%endcomment%}
			<label for="user_rating_input" class="control-label">Rating</label>
			<input id="user_rating_input">
			<p class="text-muted">{{ recipe.rating_count }} ratings</p>
			<p>User: {{user_rating}}</p>
			</div>
		</div>
	</div>
	<div class="row time">
		<div class="col-md-6">
			<p><span class="glyphicon glyphicon-time"></span> {{ time.hours }}h {{ time.minutes }}min</p>
			<div class="servings">
			{% if user.is_authenticated %}
				<form class="form-inline" id="cook_recipe">
					{% csrf_token %}
					<div class="form-group">
						<span class="fa fa-users"></span>
						<input class="form-control" type="number" id="servings" name="servings" min="1" value="{{ recipe.servings }}">
					</div>
						<button class="btn shadow-element" type="submit">COOKIT!</button>
				</form>
			{% else %}
				<p><span class="fa fa-users"></span> {{ recipe.servings }}</p>
			{% endif %}
			</div>
		</div>
	</div>
	<hr class="hidden-xs">
	<div class="row instructions">
		<div class="col-md-4">
			<!-- Non-collapsing ingredient list for desktop -->
			<div class="hidden-xs">
				<h4>Ingredients</h4>
				<ul id="ingredients">
					{% for ingredient in ingredients %}
					<li><p id="amount">{{ ingredient.amount }}</p> <p id="unit">{{ ingredient.ingredient.unit_short }}</p>s <p id="name">{{ ingredient.ingredient.name }}</p></li>
					{% endfor %}
				</ul>
			</div>
			<!-- Collapsing ingredient list for mobile -->
			<div class="visible-xs">
				<h4 class="collapse-header" data-toggle="collapse" href="#ingredients">Ingredients<span class="toggle"></span></h4>
				<ul id="ingredients" class="collapse in">
					{% for ingredient in ingredients %}
					<li><p id="amount">{{ ingredient.amount }}</p> <p id="unit">{{ ingredient.ingredient.unit_short }}</p>s <p id="name">{{ ingredient.ingredient.name }}</p></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-md-8">
			<!-- Non-collapsing instruction list for desktop -->
			<div class="hidden-xs">
				<h4>Instructions</h4>
				<ol>
					{% for step in instructions %}
					<li><p>{{ step }}</p></li>
					{% endfor %}
				</ol>
			</div>
			<!-- Collapsing instruction list for mobile -->
			<div class="visible-xs">
				<h4 class="collapse-header collapsed" data-toggle="collapse" href="#instructions">Instructions<span class="toggle"></span></h4>
				<ol id="instructions" class="collapse">
					{% for step in instructions %}
					<li><p>{{ step }}</p></li>
					{% endfor %}
				</ol>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		// Show alert for saved recipe if saved = true
		var saved = "{{ saved }}";
		if (saved == true) {
			$('.alert-success#saved').removeClass("hidden");
			setTimeout(function() {
				$('.alert-success#saved').fadeOut();
				$('.alert-success#saved').addClass("hidden");
			}, 5000);
		}

		var original_amounts = [];
		var elements = document.getElementById('ingredients').getElementsByTagName('li');
		for (var i=0; i < elements.length; i++) {
			var amount = elements[i].firstChild;
			original_amounts.push(amount.innerText);
		}

		$(document).on('submit', '#cook_recipe', function(e) {
			e.preventDefault();
			$.ajax({
				type: "POST",
				url: "{% url 'cook_recipe' recipe.id %}",
				data: {
					servings: $('#servings').val(),
					csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
				},
				success: function() {
					$('.alert-success#cooked').removeClass("hidden");
					setTimeout(function() {
						$('.alert-success#cooked').fadeOut();
					}, 5000);
				}
			});
		});

		$('#favourite').click(function() {
			$.ajax({
				type: "POST",
				url: "{% url 'add_favourite' recipe.id %}",
				data: {
					csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
				},
				// TODO: maybe something else than reload?
				success: function() {
					location.reload();
				}
			});
		});

		$('#servings').change(function() {
			var old_servings = "{{ recipe.servings }}";
			var new_servings = $('#servings').val();
			var elements = document.getElementById('ingredients').getElementsByTagName('li');
			for (var i=0; i < elements.length; i++) {
				var amount = elements[i].firstChild;
				var old_amount = original_amounts[i];
				amount.innerHTML = old_amount / old_servings * new_servings;
			}
		});

		// Function for getting the csrf token from cookie
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}

		// Delete recipe
		$('.fa-trash').click(function() {
			$.ajax({
				url: "{% url 'remove_recipe' recipe.id %}",
				type: 'DELETE',
				beforeSend: function(xhr) {
					xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
				},
				success: function(response){
                    window.location = "{% url 'feed' 'own_recipes' %}";
                }
			});
		});

		$('[data-toggle="tooltip"]').tooltip();

		// Initialize rating
		$("#user_rating_input").rating({min:0, max:5, step: 1.0, stars: 5, showClear: false, showCaption: false, size: 'sm'});
		var rating = {{recipe.rating_count}}
		$('#user_rating_input').rating('update', rating);

		$('#user_rating_input').on('rating.change', function(event, value, caption) {
		    console.log(value);
		    $.ajax({
		      type: "POST",
		      url: '{% url "rate_recipe" %}',
		      data: {'rating': value,
		  			'id': {{recipe.id}}}
		    });
		});

	});
</script>

{% endblock %}