<div class="col-md-6">
	<a href="{% url 'recipe' item.id %}" class="recipe_link">
		<div class="thumbnail right-caption">
			<img class="img-rounded img-responsive" src="http://placehold.it/180x150" alt="recipe thumb">
			<div class="caption">
				<h1>{{item.title}}
				{% if item.favourite %}
					<span class="fa fa-heart"></span>
				{% else %}
					<span class="fa fa-heart-o"></span>
				{% endif %}
				</h1>
				<h5> by {{item.creator.user.username}}</h5>
				<p class="description">{{item.description|truncatechars:90}}</p>
				<label for="user_rating_input" class="control-label">Avg. rating</label>
				<span class="fa-stack">
				  <i class="fa fa-star fa-stack-2x" id="avg-rating-icon"></i>
				  <strong class="fa-stack-1x">{{item.average_rating|floatformat:0}}</strong>
				</span>
			</div>
		</div>
	</a>
</div>