{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="recipe-page">
	<div class="row">
		<div class="col-md-6">
			<h2>{{ name }}
			{% if favourite == True %}
				<span class="fa fa-heart"></span>
			{% else %}
				<span class="fa fa-heart-o"></span>
			{% endif %}
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<img src="{% static 'images/chickensoup.jpg' %}">
		</div>
		<div class="col-md-6">
			<p><span class="glyphicon glyphicon-user"></span> {{ username }}</p>
			<i>{{ description }}</i>
		</div>
	</div>
	<div class="row time">
		<div class="col-md-6">
			<p><span class="glyphicon glyphicon-time"></span> {{ time }}</p>
			<form action="">
				<span class="fa fa-users"></span>
				<input type="number" name="quantity" min="1" value="{{ servings }}">
			</form>
			<button class="btn shadow-element">COOKIT!</button>
		</div>
	</div>
	<hr class="hidden-xs">
	<div class="row instructions">
		<div class="col-md-4">
			<!-- Non-collapsing ingredient list for desktop -->
			<div class="hidden-xs">
				<h4>Ingredients</h4>
				<ul>
					{% for ingredient in ingredients %}
					<li><p>{{ ingredient.amount }} {{ ingredient.name }}</p></li>
					{% endfor %}
				</ul>
			</div>
			<!-- Collapsing ingredient list for mobile -->
			<div class="visible-xs">
				<h4 class="collapse-header" data-toggle="collapse" href="#ingredients">Ingredients<span class="toggle"></span></h4>
				<ul id="ingredients" class="collapse in">
					{% for ingredient in ingredients %}
					<li><p>{{ ingredient.amount }} {{ ingredient.name }}</p></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-md-8">
			<!-- Non-collapsing instruction list for desktop -->
			<div class="hidden-xs">
				<h4>Instructions</h4>
				<ol>
					{% for step in instructions %}
					<li><p>{{ step }}</p></li>
					{% endfor %}
				</ol>
			</div>
			<!-- Collapsing instruction list for mobile -->
			<div class="visible-xs">
				<h4 class="collapse-header collapsed" data-toggle="collapse" href="#instructions">Instructions<span class="toggle"></span></h4>
				<ol id="instructions" class="collapse">
					{% for step in instructions %}
					<li><p>{{ step }}</p></li>
					{% endfor %}
				</ol>
			</div>
		</div>
	</div>
</div>

{% endblock %}