{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="recipe-page">
	<div class="row">
		<h2>{{ recipe.title }}
		{% if user.is_authenticated %}
			{% if favourite %}
				<span class="fa fa-heart" id="favourite"></span>
			{% else %}
				<span class="fa fa-heart-o" id="favourite"></span>
			{% endif %}
		{% endif %}
		</h2>
	</div>
	<div class="row">
		<div class="col-md-6">
			<img src="{% static 'images/chickensoup.jpg' %}">
		</div>
		<div class="col-md-6">
			<p><span class="glyphicon glyphicon-user"></span><a href="{% url 'user' recipe.creator.user.id %}">{{ recipe.creator.user.username }}</a></p>
			<i>{{ recipe.description }}</i>
			<div class="rating">
			{% include "vote_stars.html" with item=recipe %}
			<p class="text-muted">{{ recipe.rating_count }} ratings</p>
			</div>
		</div>
	</div>
	<div class="row time">
		<div class="col-md-6">
			<p><span class="glyphicon glyphicon-time"></span> {{ time.hours }}h {{ time.minutes }}min</p>
			<div class="servings">
			{% if user.is_authenticated %}
				<form class="form-inline" id="cook_recipe">
					{% csrf_token %}
					<div class="form-group">
						<span class="fa fa-users"></span>
						<input class="form-control" type="number" id="servings" name="servings" min="1" value="{{ recipe.servings }}">
					</div>
						<button class="btn shadow-element" type="submit">COOKIT!</button>
				</form>
			{% else %}
				<p><span class="fa fa-users"></span> {{ recipe.servings }}</p>
			{% endif %}
			</div>
		</div>
	</div>
	<hr class="hidden-xs">
	<div class="row instructions">
		<div class="col-md-4">
			<!-- Non-collapsing ingredient list for desktop -->
			<div class="hidden-xs">
				<h4>Ingredients</h4>
				<ul id="ingredients">
					{% for ingredient in ingredients %}
					<li><p id="amount">{{ ingredient.amount }}</p> <p id="unit">{{ ingredient.ingredient.unit }}</p>s <p id="name">{{ ingredient.ingredient.name }}</p></li>
					{% endfor %}
				</ul>
			</div>
			<!-- Collapsing ingredient list for mobile -->
			<div class="visible-xs">
				<h4 class="collapse-header" data-toggle="collapse" href="#ingredients">Ingredients<span class="toggle"></span></h4>
				<ul id="ingredients" class="collapse in">
					{% for ingredient in ingredients %}
					<li><p id="amount">{{ ingredient.amount }}</p> <p id="unit">{{ ingredient.ingredient.unit }}</p>s <p id="name">{{ ingredient.ingredient.name }}</p></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-md-8">
			<!-- Non-collapsing instruction list for desktop -->
			<div class="hidden-xs">
				<h4>Instructions</h4>
				<ol>
					{% for step in instructions %}
					<li><p>{{ step }}</p></li>
					{% endfor %}
				</ol>
			</div>
			<!-- Collapsing instruction list for mobile -->
			<div class="visible-xs">
				<h4 class="collapse-header collapsed" data-toggle="collapse" href="#instructions">Instructions<span class="toggle"></span></h4>
				<ol id="instructions" class="collapse">
					{% for step in instructions %}
					<li><p>{{ step }}</p></li>
					{% endfor %}
				</ol>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		var original_amounts = [];
		var elements = document.getElementById('ingredients').getElementsByTagName('li');
		for (var i=0; i < elements.length; i++) {
			var amount = elements[i].firstChild;
			original_amounts.push(amount.innerText);
		}

		$(document).on('submit', '#cook_recipe', function(e) {
			e.preventDefault();
			$.ajax({
				type: "POST",
				url: "{% url 'cook_recipe' recipe.id %}",
				data: {
					servings: $('#servings').val(),
					csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
				},
				// TODO: do something nice here instead of this
				success:function() {
					alert("Cooked this recipe");
				}
			});
		});

		$('#favourite').click(function() {
			$.ajax({
				type: "POST",
				url: "{% url 'add_favourite' recipe.id %}",
				data: {
					csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
				},
				// TODO: maybe something else than reload?
				success:function() {
					location.reload();
				}
			});
		});

		$('#servings').change(function() {
			var old_servings = "{{ recipe.servings }}";
			var new_servings = $('#servings').val();
			var elements = document.getElementById('ingredients').getElementsByTagName('li');
			for (var i=0; i < elements.length; i++) {
				var amount = elements[i].firstChild;
				var old_amount = original_amounts[i];
				amount.innerHTML = old_amount / old_servings * new_servings;
			}
		});
	});
</script>

{% endblock %}