<div class="col-md-6">
	<a href="{% url 'recipe' item.id %}" class="recipe_link">
		<div class="thumbnail right-caption">
			{% if item.image %}
				<img class="img-rounded img-responsive" src="{{ item.image.image.url }}" alt="recipe thumb">
			{% else %}
				<img class="img-rounded img-responsive" src="http://placehold.it/180x150" alt="recipe thumb">
			{% endif %}
			<div class="caption">
				<h1>{{item.title}}
				{% if item.favourite %}
					<span class="fa fa-heart" id="favourite{{ item.id }}"></span>
				{% else %}
					<span class="fa fa-heart-o" id="favourite{{ item.id }}"></span>
				{% endif %}
				</h1>
				<h5> by <span id="creator{{ item.creator.user.id }}">{{item.creator.user.username}}</span></h5>
				<p id="description">{{item.description}}</p>
				<label for="user_rating_input" class="control-label">Avg. rating</label>
				<span class="fa-stack">
				  <i class="fa fa-star fa-stack-2x" id="avg-rating-icon"></i>
				  <strong class="fa-stack-1x">{{item.average_rating|floatformat:0}}</strong>
				</span>
			</div>
		</div>
	</a>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$(document).on('click', '#favourite{{ item.id }}', function(e) {
			e.preventDefault();
			$.ajax({
				type: "POST",
				url: "{% url 'add_favourite' item.id %}",
				data: {
					csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
				},
				success: function() {
					if ($('#favourite{{ item.id }}').hasClass('fa-heart-o')) {
						$('#favourite{{ item.id }}').removeClass('fa-heart-o');
						$('#favourite{{ item.id }}').addClass('fa-heart');
					} else {
						$('#favourite{{ item.id }}').removeClass('fa-heart');
						$('#favourite{{ item.id }}').addClass('fa-heart-o');
					}
				}
			});
		});
		$(document).on('click', '#creator{{ item.creator.user.id }}', function(e) {
			e.preventDefault();
			location.href = "{% url 'user' item.creator.user.id %}";
		});
	});
</script>