{% extends "base/base.html" %}
{% load static %}

{% block content %}

<!-- Users info-->
<div class="settings-page">
<form id="settings-form" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<h2>Profile settings</h2>
	<div>
		<h4>Description</h4>
		<textarea id="description" name="description" rows="5" placeholder="Tell something about yourself...">{{ user_account.description }}</textarea>
	</div>
	<div>
		<h4>Profile picture</h4>
		<script> var removedImages = []; </script>
		<p>You may add one image for your profile.</p>
		{% for userimage in images %}
			<img id="profileimage" src="{{ MEDIA_ROOT }}{{ userimage.image.url }}" alt="Image"/>
			<button class="btn rm-btn" id="removeProfileImage"><span class="glyphicon glyphicon-minus"></span></button>
			<script>
				$( "#removeProfileImage" ).click(function() {
					removedImages.push("{{ userimage.id }}");
					$( "#profileimage" ).remove();
					$( this ).remove();
					$("#upload").show();
				});
			</script>
		{% endfor %}
		<div id="upload" class="dropzone">
			{% if hasUserImage %}
				<script>
					$("#upload").hide();
				</script>
			{% endif %}
		</div>
	</div>
</form>
<button id="save" class="btn shadow-element">Update changes</button>
</div>

<script type="text/javascript">
	var dropzone;
	$(document).ready(function() {
		// Init dropzone
		Dropzone.autoDiscover = false;

		$("#upload").dropzone({
			autoProcessQueue: false,
			url: "/",
			acceptedFiles: "image/*",
			maxFiles: 1,
			maxFilesize: 4,
			paramName: "image",
			uploadMultiple: true,
			addRemoveLinks: true,
			init: function() {
				dropzone = this;
			},
			error: function (file, response) {
				file.previewElement.classList.add("dz-error");
			}
		});

		$(document).on("click", "#save", function(e) {
			e.preventDefault();
			submitRecipe();
		});
	});
	function submitRecipe() {
		//Serialize form data
		var data = new FormData( $('#settings-form').get(0) );

		//Append images to form data
		var images = dropzone.getQueuedFiles();
		for(i = 0; i < images.length; i++)
		{
			data.append('image', images[i]);
		}

		// Append removed images (their userimage id) to form data
		for(i = 0; i < removedImages.length; i++)
		{
			data.append('removeimage', removedImages[i]);
		}

		$.ajax({
			type: "POST",
			url: "{% url 'settings' %}",
			data: data,
			processData: false,
			contentType: false,
			success: function(data) {
				// Redirect
				var url = "{% url 'user' user.id %}";
				window.location.href = url;
			}
		});


	};
</script>
{% endblock %}